.Cards {
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 20px;
}

.Logos {
    width: 350px;
    border-radius:  10px;
    border: solid rgb(220, 27, 198) 4px;
    margin-bottom: 5px;
}

.categorie-projet {
    display: flex;
    justify-content: center;
    flex-direction:column;
    justify-content: space-around 10px;
    gap:5px;
}

.project-menu {
  padding-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crée 3 colonnes égales */
  gap: 1rem; /* Espace entre les éléments */
}

.project-menu > div {
  text-align: center; /* Pour centrer le contenu */
}

main {
  padding-top: 0px;
  text-align: center;
}

.langage-menu {
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Crée 3 colonnes égales */
  gap: 1rem; /* Espace entre les éléments */
}

.custom-search {
  display: inline block;
  position: fixed;
  top: 0; 
  right: 0; 
  padding-top: 30px;
  padding-right: 10px;
  align-items: center;
}

.nav-style {
  height: 100px;
}

.app {
  &.dark {
    background-color: #333;
    color: #fff;
  }

  &.light {
    background-color: #fff;
    color: #333;
  }
}

.toggle-button {
   display: flex;
   border:none;
   align-items: center;
   justify-content: space-between;
   width: 160px;
    & input, input:focus{
      box-shadow:none ;
      border:none;
      margin: 0;
    }

    & input.light {
      background-color: rgb(40, 40, 41);
    }
    & input.dark {
      background-color: rgba(221, 218, 230, 0.657);
    }

    & label.dark {
      color:white
    }
    & label.light {
      color: #333;
    }
}
