/* Coolors Exported Palette - https://coolors.co/ce5374-2a2d34-ffffff */

/* CSS HEX */
--blush: #ce5374ff;
--gunmetal: #2a2d34ff;
--white: #ffffffff;

/* CSS HSL */
--blush: hsla(344, 56%, 57%, 1);
--gunmetal: hsla(222, 11%, 18%, 1);
--white: hsla(0, 0%, 100%, 1);

/* SCSS HEX */
$blush: #ce5374ff;
$gunmetal: #2a2d34ff;
$white: #ffffffff;

/* SCSS HSL */
$blush: hsla(344, 56%, 57%, 1);
$gunmetal: hsla(222, 11%, 18%, 1);
$white: hsla(0, 0%, 100%, 1);

/* SCSS RGB */
$blush: rgba(206, 83, 116, 1);
$gunmetal: rgba(42, 45, 52, 1);
$white: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ce5374ff, #2a2d34ff, #ffffffff);
$gradient-right: linear-gradient(90deg, #ce5374ff, #2a2d34ff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #ce5374ff, #2a2d34ff, #ffffffff);
$gradient-left: linear-gradient(270deg, #ce5374ff, #2a2d34ff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #ce5374ff, #2a2d34ff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #ce5374ff, #2a2d34ff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #ce5374ff, #2a2d34ff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #ce5374ff, #2a2d34ff, #ffffffff);
$gradient-radial: radial-gradient(#ce5374ff, #2a2d34ff, #ffffffff);